.no-events{
  text-align: center;
  margin-top: 45%;
  color: #eee;
}
.datetime input{
  text-align: right;
}
.input-group:first-child{
  margin-top: 35px;
}
.input-group{
  margin-bottom: 35px;
}
.table-view{
  margin-bottom: 65px;
}
.media-object{
  border: solid 1px #eee;
  padding: 2px;
}
.date, .month{
  text-align: center;
  width: 42px;
}
.date{
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}
.month{
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
